
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">

    <h4 class="display-4 text-center">Passing Complex Data</h4>
    <hr />

    @*  Owner Input Field *@

    <div class="row">
        <div class="form-group col-6">
            <label for="ownerName">Owner Name</label>
            <input type="text" name="ownerName" id="ownerName" class="form-control" />
        </div>
        <div class="form-group col-6">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone" class="form-control" />
        </div>
    </div>

    @*  Buttons TO Add Owner Data And Add a Car *@

    <div class="row justify-content-center">
        <button id="addCar" class="btn btn-info btn-sm justify-content-center">Add Car</button> &nbsp;&nbsp;
        <button id="addOwner" class="btn btn-primary btn-sm justify-content-center">Save Owner Data</button>
    </div>
    <br />

    @* Temporary Table of Added Car to Owner *@

    <div id="tempCar" style="display: none" class="text-center">
        <table id="tempTable" class="table table-sm">
            <thead class="table-primary">
                <tr>
                    <td>Car Name</td>
                    <td>Model Name</td>
                    <td>Registered City</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br />
    </div>

    @* Car Input Field *@

    <div id="carDetail" class="row">
        <div class="form-group col-4">
            <label for="carName">Car Name</label>
            <input type="text" name="carName" id="carName" class="form-control" />
        </div>
        <div class="form-group col-4">
            <label for="model">Model Name</label>
            <input type="text" name="model" id="model" class="form-control" />
        </div>
        <div class="form-group col-4">
            <label for="cityList">Registered City</label>
            <select id="cityList" class="form-control text-center">
                <option>- Select City -</option>
            </select>
        </div>
        <button id="addCarToOwner" class="btn btn-primary btn-block">Add Car To Owner</button>
    </div>
</div>
<button id="click" class="btn btn-sm btn-link">click</button>
<button id="getCityVal" class="btn btn-sm btn-link">GetCityVal</button>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(() => {

            GetCities();

            $("#carDetail").hide();

            $("#addCar").click(() => {
                $("#carDetail").fadeToggle();
            });

            $("#addCarToOwner").click(() => {
                AddTempData();
                $("#carName").val("");
                $("#model").val("");
            });

            $("#addOwner").click(() => {
                var fullOwnerData = GetOwnerData();
                AddMultipleData(fullOwnerData);
            });

            $("#click").click(() => {
                AddListOfComplexData();
            });

            $("#getCityVal").click(() => {
                console.log($("#cityList").val());
            });
        });

        function AddMultipleData(fullOwnerData) {
            debugger;
            var url = "/ComplexData/AddComplexData/";
            $.ajax(
                {
                    url: url,
                    type: "POST",
                    data: JSON.stringify(fullOwnerData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (response.success) {
                            $("#tempTable").find("tbody").find("tr").remove();
                            $("#tempCar").hide();
                            $("input").val("");
                        } else {
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {
                        alert("ERROR");
                    }
                });
        }

        function GetOwnerData() {
            var owner = new Object();
            owner.Name = $("#ownerName").val();
            owner.Phone = $("#phone").val();
            owner.Cars = tempTableDataArry();
            return owner;
        }

        function AddTempData() {

            var carName = $("#carName").val();
            var model = $("#model").val();
            var city = $("#cityList option:selected").text();
            var cityId = $("#cityList").val();
            $("#tempCar").show();
            var addHtml = " <tr><td>" +
                carName +
                "</td><td>" +
                model +
                "</td><td style='display:none'>" +
                cityId +
                "</td><td>" +
                city +
                "</td><td> <a id='remove' href='#' onclick='RemoveTempData(this)'>Remove</a>";
            $("#tempTable > tbody").append(addHtml);

        }

        function RemoveTempData(data) {
            if (confirm('You Want to remove?')) {
                $(data).parents('tr').remove();
                var tRows = $("#tempTable >tbody tr");
                if (tRows.length <= 0) {
                    $("#tempCar").hide();
                }
            }

        }

        function tempTableDataArry() {
            debugger;
            var carsArray = [];
            $("#tempTable").find("tbody").find("tr").each(function () {
                var tempRow = new Object();
                tempRow.Name = $(this).find('td:eq(0)').text(); // Name
                tempRow.ModelName = $(this).find('td:eq(1)').text(); // Model
                var city = new Object();
                city.Id = $(this).find('td:eq(2)').text(); // Selected City Value
                tempRow.City = city;
                carsArray.push(tempRow);
            });
            return carsArray;
        }

        // Array of Complex Data
        function AddListOfComplexData() {
            debugger;
            var owners = [];
            var cars = [];

            var owner = new Object();
            owner.Name = "Arslan";
            owner.Phone = "321654";

            var car = new Object;
            car.Name = "Honda";
            car.ModelName = "City";

            var city = new Object();
            city.Id = 1;
            car.City = city;

            cars.push(car);
            owner.Cars = cars;
            owners.push(owner);

            var owner2 = new Object();
            owner2.Name = "Usman";
            owner2.Phone = "654987";

            var car2 = new Object();
            car2.Name = "Toyota";
            car2.ModelName = "Corolla";

            var city2 = new Object();
            city2.Id = 4;
            car2.City = city2;

            cars.push(car2);
            owner2.Cars = cars;
            owners.push(owner2);

            console.dir(owners);

            var url = "/ComplexData/AddListOfComplexData/";
            $.ajax(
                {
                    url: url,
                    type: "POST",
                    data: JSON.stringify(owners),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (response.success) {
                            alert("Arry Of Complex Data Passed Successfully");
                        } else {
                            alert("Failed To Pass Data");
                        }
                    },
                    error: function (response) {
                        alert("ERROR");
                    }
                });
        }

        // Getting List of Cities

        function GetCities() {
            $.ajax({
                url: "ComplexData/GetCities/",
                type: "GET",
                success: (result) => {
                    console.dir(result);
                    var html = "";
                    $.each(result, function (index, item) {
                        html += "<option value='" + item.id + "' >" + item.name + "</option>";
                    });
                    $("#cityList").append(html);
                    console.log(html);
                }
            });
        }

    </script>
}